<%-include('blocks/header');%>
<!-- <div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-2 col-xs-3 col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
      </div>
    </div>
    <div class="col py-3">
      <h3 class="text-center">Finance List</h3>
      <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
        <div class="col-sm-8" style="background-color:lavenderblush;">.col-sm-8</div>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <h3 class="text-center">Add/Edit User</h3>
  <div class="row">
    <div class="col-sm-6" style="background-color:lavender;">
      <form class="row g-3 mt-4">
        <div class="row mb-3">
          <div class="col-sm-4">
            <label for="inputEmail3" class="col-sm-2 col-form-label">User/Name</label>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3">
          </div>
          <div class="col-sm-4">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Log In</label>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3">
          </div>
          <div class="col-sm-4">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3">
          </div>
          <div class="col-sm-4">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Confirm Password</label>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3">
          </div>
          <div class="col-sm-4">
            <button class="btn btn-secondary">Add User</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-6" style="background-color:lavender;">
      <form class="row g-3 mt-4">
        <div class="row mb-3">
          <p>Permission:</p>
          <div class="col-sm-4">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Roles:</label>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3">
          </div>
          <div class="col-sm-4">
            <button class="btn btn-secondary">Edit Custom</button>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Patent Specialist</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Accounting</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Paralegal</label>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-secondary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%-include('blocks/footer');%>