<%-include('blocks/header');%>
<%-include('blocks/menu');%>

<br><br><br><br>
<div class="gallery lobster-font-family" id="blog">
    <div class="container">
        <h2 class="text-calitalize text-center">Our gallery</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="pic-one"><h4>Relaxed swimming</h4></div>
                <div class="pic-two"><h4>Spacious Accommodtion</h4></div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="pic-three active"><h4>Yoga Wellness</h4></div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="pic-four"><h4>Romantic dinner</h4></div>
                <div class="pic-five"><h4>Apa & Wellness</h4></div>
            </div>
        </div>
    </div>
</div>

<div class="slider main-font-family">
    <h2 class="text-center text-capitalize main-font-family">what our clients say</h2>
  <div id="slideToNext" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slideToNext" data-slide-to="0" class="active"></li>
      <li data-target="#slideToNext" data-slide-to="1"></li>
      <li data-target="#slideToNext" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption d-block">
            <img src="imgs/pic7.png">
          <h5>jone due</h5>
          <p>It is a long established fact that a reader wil
l be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-block">
            <img src="imgs/pic7.png">
          <h5>jone due</h5>
          <p>It is a long established fact that a reader wil
l be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-block">
            <img src="imgs/pic7.png">
          <h5>jone due</h5>
          <p>It is a long established fact that a reader wil
l be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('blocks/footer');%>
