<%-include('blocks/header');%>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2 col-xs-3 col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">



                <div class="form-outline" style="display: grid;">
                    <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">ABV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>Mark</td>
                                <td>Otto</td>

                            </tr>
                            <tr>

                                <td>Mark</td>
                                <td>Otto</td>

                            </tr>
                            <tr>

                                <td>Mark</td>
                                <td>Otto</td>

                            </tr>
                            <tr>

                                <td>Mark</td>
                                <td>Otto</td>

                            </tr>
                            <tr>

                                <td>Mark</td>
                                <td>Otto</td>

                            </tr>
                            <tr>

                                <td>Mark</td>
                                <td>Otto</td>

                            </tr>
                            <tr>

                                <td>Mark</td>
                                <td>Otto</td>

                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

                </ul>
                <hr>
                <button type="submit" class="btn btn-primary mb-2">Search Clients</button>
            </div>
        </div>
        <div class="col py-3">
            <h3 class="text-center">View/Edit Contact</h3>



            <div class="tabs">
                <ul id="tabs-nav">
                    <li><a href="#tab1">Company Details</a></li>
                    <!-- <li><a href="#tab2">Matters</a></li>
                    <li><a href="#tab3">Contacts</a></li> -->

                </ul> <!-- END tabs-nav -->
                <div id="tabs-content">
                    <div id="tab1" class="tab-content">
                        <form class="row g-3 ">
                            <div class="col-md-4 mt-5">
                                <label for="inputEmail4" class="form-label">Title</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-4 mt-5">
                                <label for="inputPassword4" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="inputPassword4">
                            </div>
                            <div class="col-4 mt-5">
                                <label for="inputAddress" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="col-6">
                                <label for="inputAddress2" class="form-label">Company</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="">
                            </div>
                            <div class="col-md-6 ">
                                <label for="inputCity" class="form-label">Role</label>
                                <input type="text" class="form-control" id="inputCity">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Point of contact
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Additional Point of contact
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <label for="inputCity" class="form-label">Primary Phone</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">Fax</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-6 ">
                                <label for="inputCity" class="form-label">Second Phone</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-6 ">
                                <label for="inputCity" class="form-label">Email(s):</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-6 ">
                                <label for="inputCity" class="form-label">Street Address 2:</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-6 ">
                                <label for="inputCity" class="form-label">Street Address 2:</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-6 ">
                                <label for="inputCity" class="form-label">City:</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">State:</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">Postal Code:</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">Country:</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                             <button type="button" class="btn btn-secondary m-2">Compose Email</button>
                             <button type="button" class="btn btn-secondary m-2">Compose Letter</button>
                             <button type="button" class="btn btn-secondary m-2">Goto Company</button>
                              </div>
                            <div class="col-md-6 ">
                               <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Contact Memos:
                                    </label>
                                
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary">View</button>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary">Add</button>
                                </div>
                            </div>
                            </div>


                        </form>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-secondary">cancel</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-secondary">save</button>
                            </div>

                        </div>
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">Open Contact</button>

                        </div>
                        <div class="btn-group" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary">Add New</button>

                          </div>

                    </div>
                  
                    
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModallistby" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ALL Memos & Documents For Matter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 ">
                    <div class="col-md-5 ">
                        <label for="inputEmail4" class="form-label">Client</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Matter</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Document</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date Saved</th>
                            <th scope="col">Related to:</th>
                            <th scope="col">Desc</th>
                            <th scope="col">Ref Date:</th>
                            <th scope="col">Document Title:</th>
                            <th scope="col">Document File Name & id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>Otto</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>Otto</td>
                            <td>Thornton</td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-dark">Download</button>

                <form class="row g-3 mt-4">
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Memos: </label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date Saved</th>
                            <th scope="col">Related to:</th>
                            <th scope="col">Desc</th>
                            <th scope="col">Ref Date:</th>
                            <th scope="col">Meno Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>Otto</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark">Open Memos</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalSearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search Associate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 ">
                    <div class="col-md-5 ">
                        <label for="inputEmail4" class="form-label">Company Name Field</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-3 ">
                        <label for="inputPassword4" class="form-label">ABV</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-4 ">
                        <label for="inputAddress" class="form-label">Company Name Field </label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-4 ">
                        <label for="inputAddress2" class="form-label">Contact Name Field</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6 ">
                        <label for="inputCity" class="form-label">Phone/Fax Field</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-6 ">
                        <label for="inputCity" class="form-label">Address Field</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">Countries Filed</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<%-include('blocks/footer');%>