<%-include('blocks/header');%>

<div class="modal-content container">

  <h4 class="text-center">MATTERS LIST</h4>
  <div class="row g-3 align-items-center">
    <h4>Enter Docket or Title</h4>
    <div class="col-auto">
      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
    </div>
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Advanced Search</label>
    </div>
    <div class="col-auto mt-4">
      <h5>Status:</h5>
    </div>
  </div>
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">DOCKET</th>
        <th scope="col">TITLE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
    </tbody>
  </table>


  <form class="row g-3 ">
    <div class="col-md-5 ">
      <label for="inputEmail4" class="form-label">Client:</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-3 ">
      <label for="inputPassword4" class="form-label">MATTER NICKNAME</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col-4 ">
      <label for="inputAddress" class="form-label">Client REP: </label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">RESP SPECALIST:</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Serial No:</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Filling Date</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Priority Date</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Publication No:</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Publication Date</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Patent No:</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Issue Date:</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">International Filling Date:</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Assoc Date:</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Assoc Ref:</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Claims Priority Form:</label>
      <textarea class="form-control" rows="3"></textarea>
      <button class="btn btn-primary">View</button>
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Matters Docs</label>
      <textarea class="form-control" rows="3"></textarea>
      <button class="btn btn-primary">View</button>
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Child Application</label>
      <textarea class="form-control" rows="3"></textarea>
      <button class="btn btn-primary">View</button>
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Matters Memos</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button class="btn btn-primary">VIEW</button> <button class="btn btn-primary">ADD</button>
    </div>
    <div class="col-4 ">
      <label for="inputAddress2" class="form-label">Inventors</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button class="btn btn-primary">VIEW</button> <button class="btn btn-primary">ADD</button>
    </div>
  </form>


  <h4 class="mt-4">EVENTS:</h4>
  <table class="table table-bordered mt-2">
    <thead>
      <tr>
        <th scope="col">EVENT DATE</th>
        <th scope="col">DESCRIPTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
    </tbody>
  </table>
  <h4 class="mt-4">TASKS:</h4>
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">TASK DEADLINE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
      </tr>
      <tr>
        <td>Jacob</td>
      </tr>
    </tbody>
  </table>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Search</button>
    <button type="button" class="btn btn-primary">Cancel</button>
  </div>
</div>

<!-- Popup Modal Form      -->


<!-- Modal -->
<div class="modal fade" id="exampleModalmatter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelmatter">Open New Matter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 ">

          <div class="col-md-3 ">
            <label for="inputEmail4" class="form-label">Client:</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Matter Types</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Filing Country</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Matter Docket</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Filing Deadline</label>
            <input type="date" class="form-control" id="inputPassword4">
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="inputAddress">
          </div>
          <div class="col-12">
            <label for="inputAddress2" class="form-label">Title</label>
            <input type="text" class="form-control" id="inputAddress2">
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Responsible Specialist</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputEmail3" value="Vladimir Sherman" placeholder="">
            </div>
          </div>
        </form>
        <form class="row g-3">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off">Open</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalSearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelmatter">Search Application/Patient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 ">

          <div class="col-md-3 ">
            <label for="inputEmail4" class="form-label">Title Field</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Client Name Field</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Docket Field</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Client Ref:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Application No. Filed</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Filed After:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Filed Before:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Publication No. Filed</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Published After:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Published Before:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Issue No. Filed</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Issue After:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Issue Before:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="col-md-4">
            <label for="inputState" class="form-label">Countries Filed Field</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="inputState" class="form-label">Assoicate Field</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Search</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalReferences" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelmatter">Reference Citation Screen For Matter:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 ">

          <div class="col-md-8 ">
            <label for="inputEmail4" class="form-label">Client</label>
            <input type="text" class="form-control" id="inputEmail4">
            <button class="btn btn-secondary">Log</button>
          </div>
          <div class="col-md-3 ">
            <label for="inputEmail4" class="form-label">Ref. Title</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Type</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Country</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-3 ">
            <label for="inputEmail4" class="form-label">Ref. ID</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-3 ">
            <label for="inputEmail4" class="form-label">Filing Date</label>
            <input type="date" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-3 ">
            <label for="inputEmail4" class="form-label">PUB date</label>
            <input type="date" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-3 ">
            <label for="inputEmail4" class="form-label">Issue date</label>
            <input type="date" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-3 ">
            <label for="inputEmail4" class="form-label">Date Cited</label>
            <input type="date" class="form-control" id="inputEmail4">
          </div>
          <div class="form-check col-md-3">
            <label class="form-check-label" for="flexCheckChecked">
             Self Cited
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <button class="btn btn-secondary">CITE</button>
          </div>
        </form>

      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Country</th>
            <th scope="col">Ref Id</th>
            <th scope="col">Title</th>
            <th scope="col">Filing Date</th>
            <th scope="col">Publication Date</th>
            <th scope="col">Issue Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Thornton</td>
            <td>Thornton</td>
            <td>Thornton</td>
            <td>Thornton</td>
          </tr>
        </tbody>
      </table>
      <h4>Cited/Reported</h4> 
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cited Date</th>
            <th scope="col">Reported Date</th>
            <th scope="col">Docket</th>
            <th scope="col">Matter Title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Thornton</td>
          </tr>
        </tbody>
      </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Search</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalIDS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabelmatter">Filed Information Disclosure Statements</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <form class="row g-3 ">
                <div class="row g-3 align-items-center">

                  <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Client</label>
                  </div>
                  <div class="col-auto">
                    <input type="text" id="" class="form-control" aria-describedby="passwordHelpInline">
                  </div>
                 
                </div>
                <div class="col-md-5">
                  <label for="inputState" class="form-label">Docket Filter</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-5">
                  <label for="inputState" class="form-label">Including Ref. Id,</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>

               

              </form>
            </div>
            <div class="col-5">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Docket Filter</th>
                    <th scope="col">Filling Date</th>
                    <th scope="col">Ids Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <div class="row">
            <h4>IDS Reference Details</h4>
            <div class="col">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Country</th>
                    <th scope="col">Ref</th>
                    <th scope="col">Title</th>
                    <th scope="col">Filing Date</th>
                    <th scope="col">Pub Date</th>
                    <th scope="col">Issue Date</th>
                    <th scope="col">Cited Date</th>
                    <th scope="col">Self Cited</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off">Open</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%-include('blocks/footer');%>