<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>project</title>
        <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="css/fontawesome.min.css"> -->
       
        <!-- Bootstrap CSS -->
     <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/style.css">   
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <!-- <link href="css/responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style2.css"> -->
      
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">My Tasks</a></li>
                      <li><a class="dropdown-item" href="list_all_client">Reconnect</a></li>
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">Exit</a></li>
                    </ul>
                  </li>
                  
                  <li class="nav-item dropdown">
                    
                    <a class="nav-link" href="/list_all_client" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                      Clients 
                      <span class="caret1"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New</a></li>
                      <li><a class="dropdown-item" href="list_all_client">List All</a></li>
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">Search</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="/list_all_associates" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Associates
                      <span class="caret1"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModalAssociate">Add New</a></li>
                      <li><a class="dropdown-item" href="/list_all_associates">List All</a></li>
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModalSearch">Search</a></li>
                      
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Matters
                      <span class="caret1"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalmatter" href="#">Add Matters</a></li>
                      <li><a class="dropdown-item" href="list_all_matters" >List All Matters</a></li>
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalSearch" href="#">Search Matters</a></li>
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalReferences" href="#">Cited References</a></li>
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalIDS" href="#">IDS List</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="/list_all_document"  role="button"  aria-expanded="false">
                      Documents
                      <span class="caret1"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalgeneratereport" href="#">Generate Report</a></li>
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModallistby" href="#">List By Matter</a></li>
                     
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="/list_contact" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Contacts
                     <span class="caret1"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModaladdnewcontact" href="/list_contact">Add New</a></li>
                      <li><a class="dropdown-item" href="/list_contact_view">List All</a></li>
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModaladdsearch" href="#">Search</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Finance
                     <span class="caret1"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="/list_all_finance">Client Billing Information</a>
                       <ul class="dropdown-menu">
                         <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalofficebilling" href="#">Office Billing Summary</a></li>
                         <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalssum" href="#">Summary For Client</a></li>
                         <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalschargehistory" href="#">Charge History</a></li>
                        
                        
                       </ul>
                     </li>
                     <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="http://google.com">Accounts Receivable</a>
                       <ul class="dropdown-menu">
                         <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModaldebitncfe" href="#">Debit Ncfe Lists</a></li>
                         <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModallogpayment" href="#">Log Payment</a></li>
                         <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalcreditcharge" href="#">Credit Charge</a></li>
                         <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalchargehistory" href="#">Charge History</a></li>
                         <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalpaymentsearch"  href="#">Payment History</a></li>
                        
                       </ul>
                     </li>
                     <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="http://google.com">Accounts Payable</a>
                       <ul class="dropdown-menu">
                         <li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#exampleModallogpay" href="/exampleModallogpay">Log Pay Request</a></li>
                         <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModallogpayrequesthistory" >Pay Request History</a></li>
                        
                       </ul>
                     </li>
                   </ul>
                    <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Client Billing Information</a></li>
                      <li><a class="dropdown-item" href="#">Accounts Receivable</a></li>
                      <li><a class="dropdown-item" href="#">Accounts Payable</a></li>
                    </ul> -->
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Administrative
                     <span class="caret1"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="/list_all_administrative">System Configuration</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalofficedetail" href="">Office Details</a></li>
                          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Users Accounts</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="/administrative_user_add">Add Edit Users</a></li>
                              <li><a class="dropdown-item" href="/administrative_user_roles">Add Edit Roles</a></li>
                            </ul>
                          </li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModaleventtotask" href="#">Events 2 Task List</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModaleventstask" href="#">Events Task List</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModaltasktypelist" href="#">Task Types List</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModaltasksteptypes" href="#">Steps Types List</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModaltaskchargetypes" href="#">Charges Types List</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModaltaskworkflowtree" href="#">Workflow Tree</a></li>
                        </ul>
                      </li>
                     
                    </ul>
                  
                  </li>
                </ul>
   
              </div>
            </div>
          </nav>    
